<%-include('_navbar.ejs')%>
<!DOCTYPE html>
<html lang="en">
<head>

	<style>

@media (min-width: 0px) and (max-width: 480px) {
    .container h1 {
        font-size: 30px !important;
    }   
}


		.reading{
			text-decoration: none;
			color: #fff;
		}

	</style>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>none</title>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>

	<div class="container">
		<div class="divs">
		<h1><%=data%></h1>
		<p></p>
		<div class="account-another">
			<button class="Profile" ><a href="parameter/post.php" style="text-decoration: none; color: white;">Log out</a></button>
			<button class="Profile"><a  style="text-decoration: none; color: white;">Question</a></button>
			
		</div>
		</div>
	</div>


	<div class="topic">
		<center><h1 style="font-size: 3em">Topics</h1></center>
	</div>


	<br>

	<div class="forum">
		
		
		
		<div class="forum-child">
			<div class="forum-image">
				<img src="img\images (6).jpeg" alt="">
			</div>
			<div class="forum-title">
				Python programming
			</div>
			<div class="forum-discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</div>
			<div class="forum-btn">
				<button class="forum-button" type="submit"><span class="span"><a class="reading" href="threads/1/1">Read</a></span></button>
			</div>
		</div>



		<div class="forum-child">
			<div class="forum-image">
				<img src="img\images (1).png" alt="">
			</div>
			<div class="forum-title">
				HTML programming
			</div>
			<div class="forum-discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</div>
			<div class="forum-btn">
				<button class="forum-button"><span class="span"><a class="reading" href="/threads/2/1">Read</a></span></button>
			</div>
		</div>
	




		<div class="forum-child">
			<div class="forum-image">
				<img src="img\images.jpeg" alt="">
			</div>
			<div class="forum-title">
				C programming
			</div>
			<div class="forum-discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</div>
			<div class="forum-btn">
				<button class="forum-button"><span class="span"><a class="reading" href="/threads/3/1">Read</a></span></button>
			</div>
		</div>
	
		
	</div>


	<div class="forum">
	
		<div class="forum-child">
			<div class="forum-image">
				<img src="img\images%20(2).png" alt="">
			</div>
			<div class="forum-title">
				CSS programming
			</div>
			<div class="forum-discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</div>
			<div class="forum-btn">
				<button class="forum-button"><span class="span"><a class="reading" href="/threads/4/1">Read</a></span></button>
			</div>
		</div>

	


		<div class="forum-child">
			<div class="forum-image">
				<img src="img\images (3).png" alt="">
			</div>
			<div class="forum-title">
				PHP programming
			</div>
			<div class="forum-discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</div>
			<div class="forum-btn">
				<button class="forum-button"><span class="span"><a class="reading" href="/threads/5/1">Read</a></span></button>
			</div>
		</div>



	
		<div class="forum-child">
			<div class="forum-image">
				<img src="img\images.png" alt="">
			</div>
			<div class="forum-title">
				Ruby programming
			</div>
			<div class="forum-discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</div>
			<div class="forum-btn">
				<button class="forum-button"><span class="span"><a class="reading" href="/threads/6/1">Read</a></span></button>
			</div>
		</div>


	</div>

	<div class="forum">

		<div class="forum-child">
			<div class="forum-image">
				<img src="img\images (7).jpeg" alt="">
			</div>
			<div class="forum-title">
				Javascript programming
			</div>
			<div class="forum-discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</div>
			<div class="forum-btn">
				<button class="forum-button"><span class="span"><a class="reading" href="/threads/7/1">Read</a></span></button>
			</div>
		</div>
	
	
		<div class="forum-child">
			<div class="forum-image">
				<img src="img\download (2).png" alt="">
			</div>
			<div class="forum-title">
				JAVA programming
			</div>
			<div class="forum-discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</div>
			<div class="forum-btn">
				<button class="forum-button"><span class="span"><a class="reading" href="/threads/8/1">Read</a></span></button>
			</div>
		</div>

	
	

		<div class="forum-child">
			<div class="forum-image">
				<img src="img\unnamed (1).png" alt="">
			</div>
			<div class="forum-title">
				C++ programming
			</div>
			<div class="forum-discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</div>
			<div class="forum-btn">
				<button class="forum-button"><span class="span"><a class="reading" href="/threads/9/1">Read</a></span></button>
			</div>
		</div>
		
	</div>

<hr>







<div class="contact" id="contact">
	<form action="" class="contact-form" method="post">
		<div class="inner-form">
			<div class="form-title">
				<h1>Contact us</h1>
			</div>
		<input type="text" class="contact-input" required placeholder="name" name="name">
		<input type="email" class="contact-input" placeholder="E-mail" name="email">
		<input type="number" class="contact-input" placeholder="phone number (Optional)" name="phone">
		<textarea class="contact-textarea" placeholder="Enter your Description...." required name="message"></textarea>
		<button class="contact-btn" type="submit" name="contact">Submit</button>
		</div>

		
	</form>
</div>

<footer class="footer">
	<h3>&#169; All Right Reserved Under 2021 Deleloped in PHP</h3>
</footer>



</body>
</html>


